<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <strong>ClipStash</strong> is a Portfolio Project Built by Ishaaq Ziyan <a></a>
        </p>
    </div>
</footer>